html {
  background: #b5c0ad;
  min-height: 720px;
  min-width: 320px;
}
html,
body {
  height: 100%;
 
}
#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  background: #b5c0ad;
}
.App {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  padding-bottom: 16px;
  padding-top: 25px;  
  width: 600px;
}

